{% include 'vlan.j2' %} 
{#Based on the current test, "include" syntax can only insert the clear text#}
{% for each in abc %}
interface {{ each.name }}
description {{ each.description|upper }}
{% if each.uplink %}
switchport mode trunk
{% else %}
switchport mode access
switchport access vlan {{ each.vlan }}
{% endif %}
{% endfor %}