{% for one in interfaces.each %}
interface {{ one.name }}
ip address {{ one.ip }} {{ one.mask }}
no shutdown
{% if 'lo1' not in one.name %}
ip router {{ interface.protocol }}
{% endif %}
{% if 'f' in one.name %}
isis network {{ interface.net_type }}
{% endif %}
{% endfor %}